.nothing-to-show-comp {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nothing-to-show-comp > img {
    max-width: 300px;
    width: 30%;
    margin-bottom: 20px;
}

.search-bar {
    border-radius: 10px;
    border: 1px solid rgb(235,234,234);
    justify-content: flex-start;
    align-items: center;
    padding: 5px 7px;
    width: 100%;
    transition: 0.5s;
}
.search-bar > input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    width: 90%;
}

/* Dropdown bar styling */
.multi-drop-down {
    width: 200px;
    background-color: white;
    position: absolute;
    z-index: 20;
    border-radius: 7px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.14);
    display: none;
}
.drop-down-item {
    width: 100%;
    padding: 7px;
    cursor: pointer;
    justify-content: space-between;
    transition: 0.5s;
    position: relative;
}
.drop-down-item > p {
    width: 100%;
    justify-content: flex-start;
    text-align: left;
}
.drop-down-item > p > input[type=checkbox] {
    margin-right: 5px;
}
.drop-down-item > p > i {
    text-align: right;
    flex-grow: 1;
}
.drop-down-item:first-child {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.drop-down-item:last-child {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
.drop-down-item:hover {
    background-color: rgb(235,234,234);
}
.multi-drop-down .sub-drop-down {
    width: 200px;
    position: absolute;
    left: 100%;
    z-index: 30;
}

.multi-drop-down > li:hover > .sub-drop-down {
    display: block;
}

.show-drop-down {
    display: block;
}


@media screen and (max-width: 500px) {
    .multi-drop-down {
        width: 90%;
    }
    .multi-drop-down .sub-drop-down {
        position: static;
        width: 100%;
    }
    .multi-drop-down > .drop-down-item {
        flex-direction: column;
    }
}